.api-detail {
  :global(.arco-tabs-header-scroll) {
    border-radius: 0;
    background-color: unset;
  }

  :global(.arco-tabs-header-title) {
    padding: 8px 0;
  }

  :global(.arco-tabs-header-title-text) {
    padding: 2px 10px;
  }
}

.api-run {
  :global(.arco-input-disabled) {
    color: rgb(var(--color-text-1));
    -webkit-text-fill-color: rgb(var(--color-text-1));
  }
  :global(.arco-input-disabled:hover) {
    color: rgb(var(--color-text-1));
  }
  :global(.arco-upload-list-type-text .arco-upload-list-item):first-of-type {
    margin-top: 10px;
  }
  :global(.arco-upload-list-type-picture-list
      .arco-upload-list-item):first-of-type {
    margin-top: 10px;
  }
}
