.json-schema-react-editor .option-formStyle {
  /* padding-left: 25px; */
  padding-top: 8px;
}

.json-schema-react-editor .col-item-type {
  text-align: center;
}

.json-schema-react-editor .down-style {
  cursor: pointer;
}

.json-schema-react-editor .col-item-desc {
  text-align: center;
}

.json-schema-react-editor .col-item-mock {
  padding-right: 6px;
  text-align: center;
}

.json-schema-react-editor .col-item-setting {
  padding-left: 6px;
  cursor: pointer;
}

.json-schema-react-editor .plus {
  color: #2395f1;
}

.json-schema-react-editor .array-type {
  margin-top: 8px;
}

.json-schema-react-editor .name-item .ant-input-group-addon {
  background-color: unset;
  border: unset;
}

.json-schema-react-editor .icon-object {
  color: #0d1b3ea6;
  font-weight: 400;
  font-size: 10px;
}

.json-schema-react-editor .adv-set {
  padding-right: 8px;
  color: #00a854;
}

.json-schema-react-editor .type-select-style {
  width: 90%;
  text-align: left;
}
