.content .react-colorful {
  margin-bottom: 15px;
}

.content .react-colorful__saturation {
  margin: 15px 0 0;
  border-radius: var(--border-radius-medium);
  border-bottom: none;
}

.content .react-colorful__hue {
  order: -1;
}

.content .react-colorful__hue,
.content .react-colorful__alpha {
  height: 10px;
  border-radius: var(--border-radius-medium);
}

.content .react-colorful__hue-pointer,
.content .react-colorful__alpha-pointer {
  width: 15px;
  height: 15px;
}

.content .react-colorful__pointer,
.content .react-colorful__saturation-pointer {
  width: 20px;
  height: 20px;
}

.color-picker .arco-popconfirm-btn {
  display: none;
}

.color-picker .arco-popconfirm-title {
  margin-bottom: 0;
}
